<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Assignment5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description> </description>
    <servlet-name>assignment5</servlet-name>
    <servlet-class>assignment5.pkg.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignment5</servlet-name>
    <url-pattern>/Main.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description> </description>
    <servlet-name>assignment5_secondServlet</servlet-name>
    <servlet-class>assignment5.pkg.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignment5_secondServlet</servlet-name>
    <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>
  
</web-app>